
/* cuerpo celular login */
.iniciar-secion{
    width: 100vw;
    max-width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-section-main);

}
 
.iniciar-secion-conteiner{
     display:flex;
     flex-direction: column;
     padding-top: 1em;
     width: 75%;
     align-items: center;
}
.input{
    width: 100%;
    border-radius: 2px;
}
 

.iniciar-secion-btn{
    width: 30%;
}




/* cuepo para tablet */

@media screen and (min-width: 480px){

    .iniciar-secion{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
    .iniciar-secion-conteiner{
        width: 50%;
    }
    .titulo-main{
        font-size: 1.5em;
    }
    
}


/* cuepo para Desktop  */

@media screen and (min-width: 960px){

    .iniciar-secion{
        padding-top: 10%;
        padding-bottom: 10%; 
    }
    .iniciar-secion-conteiner {
        width: 30%;
    }

    .iniciar-secion-btn{
        width: 100%;
    }
    
}

